<div class="barra">
  <a href="">Registrate totalmente Gratis 🤑</a>
</div>

<style>
  .barra {
    background: #000000;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .barra a {
    text-decoration: none;
    color: white;
    font-family: poppins;
  }
</style>
