---
import Barra from "../components/barra.astro";
import Nav from "../components/nav.astro";
import Price from "../components/price.astro";
import Hero from "../components/hero.astro";
import Principal from "../components/principal.astro";
import Header from "../components/header2.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Barra />
    <div class="container1">
      <Nav />
      <Header />
      <Principal />

      <Hero />
      <Price />
    </div>
  </body>
</html>

<style>
  html,
  body {
    font-family: "Arial";

    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #070707;

    background-size: cover;
  }

  /* .container1 {
    background-image: url(https://res.cloudinary.com/dtmziqubb/image/upload/v1713033520/luca-micheli-ruWkmt3nU58-unsplash_hnc5sz.jpg);
  } */
</style>
